.form-horizontal {
  display: flex;
  flex-direction: column;
}

.campos {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.espacio {
  flex: 1;
  min-width: 250px;
}

.form-field {
  width: 100%;
}

@media (max-width: 768px) {
  .campos {
    flex-direction: column;
  }

  .espacio {
    width: 100%;
  }

  .form-field {
    width: 100%;
  }
}

.margin-y {
  margin-top: 1em;
  margin-bottom: 1em;
}

mat-form-field {
  display: flex;
  align-items: center;
}

mat-icon-button {
  margin-left: 8px; /* Ajusta según sea necesario */
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px; /* Espacio entre columnas */
}

.form-field {
  width: 100%;
}
