<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ "ptd.preasignar_ptd" | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="margin-y">
    <form
      novalidate
      [formGroup]="preasignacionForm"
      #fform="ngForm"
      class="form-horizontal"
    >
      <h4 class="margin-y">{{ "ptd.datos_generales" | translate }}</h4>
      <mat-form-field class="form-field">
        <mat-label>*{{ "GLOBAL.periodo" | translate }}:</mat-label>
        <mat-select formControlName="periodo">
          <mat-option>--{{ "GLOBAL.seleccionar" | translate }}--</mat-option>
          <mat-option *ngFor="let item of periodos" [value]="item">
            {{ item.Nombre }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            preasignacionForm.get('periodo')?.hasError('required') &&
            preasignacionForm.get('periodo')?.touched
          "
        >
          {{ "ptd.error_periodo" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-divider></mat-divider>

      <h4 class="margin-y">{{ "ptd.datos_del_docente" | translate }}</h4>
      <mat-form-field class="form-field">
        <mat-label>{{ "ptd.documento_docente" | translate }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="doc_docente"
          pattern="[0-9]*"
          placeholder="*{{ 'ptd.documento_docente' | translate }}: "
          (keydown.enter)="buscarDocenteDocumento($event)"
        />
        <button
          mat-icon-button
          matSuffix
          color="primary"
          (click)="buscarDocenteDocumento($event)"
          [disabled]="preasignacionForm.get('doc_docente')?.disabled"
        >
          <mat-icon>search</mat-icon>
        </button>
        <mat-error
          *ngIf="
            preasignacionForm.get('doc_docente')?.hasError('required') &&
            preasignacionForm.get('doc_docente')?.touched
          "
        >
          {{ "ptd.error_doc_docente" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>*{{ "ptd.nombre_docente" | translate }}:</mat-label>
        <input
          matInput
          type="text"
          formControlName="docente"
          [matAutocomplete]="auto"
          (keyup)="
            searchTerm$.next({
              text: event2text($event),
              field: fform.directives[3]
            })
          "
        />
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          (optionSelected)="handlerSelectDocente($event)"
        >
          <mat-option
            *ngFor="let option of filteredDocentes | async"
            [value]="option"
          >
            {{ option.Nombre }}
          </mat-option>
        </mat-autocomplete>
        <mat-hint style="width: 100%">
          <div style="font-size: 13px">
            {{ "ptd.placeholder_nombre_docente" | translate }}
          </div>
        </mat-hint>
        <mat-error
          *ngIf="
            preasignacionForm.get('docente')?.hasError('required') &&
            preasignacionForm.get('docente')?.touched
          "
        >
          {{ "ptd.error_docente" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>*{{ "GLOBAL.tipo_vinculacion" | translate }}:</mat-label>
        <mat-select formControlName="tipo_vinculacion">
          <mat-option>--{{ "GLOBAL.seleccionar" | translate }}--</mat-option>
          <mat-option
            *ngFor="let item of tipoVinculacionFiltered"
            [value]="item.id"
          >
            {{ item.nombre }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            preasignacionForm.get('tipo_vinculacion')?.hasError('required') &&
            preasignacionForm.get('tipo_vinculacion')?.touched
          "
        >
          {{ "ptd.error_tipo_vinculacion" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-divider></mat-divider>
      <h4 class="margin-y">{{ "ptd.datos_del_espacio_academico" | translate }}</h4>

      <mat-form-field class="form-field">
        <mat-label>{{ "ptd.codigo_espacio_academico" | translate }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="codigo"
          placeholder="*{{ 'ptd.codigo_espacio_academico' | translate }}: "
          (keydown.enter)="buscarEspacioAcademico($event)"
        />
        <button
          mat-icon-button
          matSuffix
          color="accent"
          (click)="buscarEspacioAcademico($event)"
          [disabled]="preasignacionForm.get('codigo')?.disabled"
        >
          <mat-icon>search</mat-icon>
        </button>
        <mat-error
          *ngIf="
            preasignacionForm.get('codigo')?.hasError('required') &&
            preasignacionForm.get('codigo')?.touched
          "
        >
          {{ "ptd.error_espacio_academico" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <mat-label>*{{ "ptd.espacio_academico" | translate }}:</mat-label>
        <mat-select
          formControlName="espacio_academico"
          (selectionChange)="loadProyectos()"
        >
          <mat-option>--{{ "GLOBAL.seleccionar" | translate }}--</mat-option>
          <mat-option
            *ngFor="let item of opcionesEspaciosAcademicos"
            [value]="item"
          >
            {{ item.nombre }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            preasignacionForm.get('espacio_academico')?.hasError('required') &&
            preasignacionForm.get('espacio_academico')?.touched
          "
        >
          {{ "ptd.error_espacio_academico" | translate }}
        </mat-error>
      </mat-form-field>
      <div class="alert info" *ngIf="isEspacioModular">
        <mat-icon class="icon">campaign</mat-icon>
        <span>{{'ptd.espacio_academico_modular' | translate}}</span>
      </div>
      <div class="form-grid">
        <mat-form-field class="form-field">
          <mat-label>*{{ "ptd.proyecto" | translate }}:</mat-label>
          <mat-select
            formControlName="proyecto"
            (selectionChange)="changeProyecto()"
          >
            <mat-option>--{{ "GLOBAL.seleccionar" | translate }}--</mat-option>
            <mat-option *ngFor="let item of opcionesProyectos" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              preasignacionForm.get('proyecto')?.hasError('required') &&
              preasignacionForm.get('proyecto')?.touched
            "
          >
            {{ "ptd.error_proyecto" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>*{{ "asignaturas.grupo" | translate }}:</mat-label>
          <mat-select formControlName="grupo" (selectionChange)="changeGrupo()">
            <mat-option>--{{ "GLOBAL.seleccionar" | translate }}--</mat-option>
            <mat-option *ngFor="let item of opcionesGrupos" [value]="item">
              {{ item.grupo }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              preasignacionForm.get('grupo')?.hasError('required') &&
              preasignacionForm.get('grupo')?.touched
            "
          >
            {{ "ptd.error_grupo" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>{{ "GLOBAL.nivel" | translate }}</mat-label>
          <input
            matInput
            type="text"
            formControlName="nivel"
            readonly
            placeholder="*{{ 'GLOBAL.nivel' | translate }}:"
          />
          <mat-error
            *ngIf="
              preasignacionForm.get('nivel')?.hasError('required') &&
              preasignacionForm.get('nivel')?.touched
            "
          >
            {{ "ptd.error_nivel" | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div style="display: flex; gap: 0.5em; flex-wrap: wrap">
        <button mat-flat-button (click)="enviarPreasignacion()" color="accent">
          {{ "GLOBAL.crear" | translate }}
        </button>
        <button mat-flat-button (click)="cancelar()">
          {{ "GLOBAL.cancelar" | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
