<mat-card class="dialogo">
  <mat-card-header class="shadow">
    <div class="row mb-3">
      <div class="col-12 center-v center-h">
        <mat-icon color="primary">info</mat-icon>
        <p class="ml-3 mb-0">
          <strong>{{ "ptd.detalle_colocacion" | translate }}</strong
          ><br />{{ "ptd.descripcion_detalle_colocacion" | translate }}
        </p>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div class="row info-card mt-3">
      <div class="col-12">
        <div class="info-item">
          <p class="ml-3 mb-0">
            <strong *ngIf="infoEspacio.idActividad == 'NA'">{{
              "ptd.espacio_academico" | translate
            }}</strong>
            <strong *ngIf="infoEspacio.idActividad != 'NA'">{{
              "ptd.actividad" | translate
            }}</strong>
            <br />{{ infoEspacio.nombre }}
          </p>
        </div>
        <div class="info-item">
          <p class="ml-3 mb-0">
            <strong>{{ "ptd.sede" | translate }}</strong
            ><br />{{ infoEspacio.sede.Nombre }}
          </p>
        </div>
        <div class="info-item">
          <p class="ml-3 mb-0">
            <strong>{{ "ptd.edificio" | translate }}</strong
            ><br />{{ infoEspacio.edificio.Nombre }}
          </p>
        </div>
        <div class="info-item">
          <p class="ml-3 mb-0">
            <strong>{{ "ptd.salon" | translate }}</strong
            ><br />{{ infoEspacio.salon.Nombre }}
          </p>
        </div>
        <div class="info-item" *ngIf="infoEspacio.horaFormato">
          <p class="ml-3 mb-0">
            <strong>{{ "ptd.hora" | translate }}</strong
            ><br />{{ infoEspacio.horaFormato }}
          </p>
        </div>
        <div class="info-item" *ngIf="infoEspacio.docenteName">
          <p class="ml-3 mb-3">
            <strong>{{ "ptd.nombre_docente" | translate }}</strong
            ><br />{{ infoEspacio.docenteName }}
          </p>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-dialog-actions align="center">
    <button mat-stroked-button color="primary" [mat-dialog-close]>
      {{ "GLOBAL.cerrar" | translate }}
    </button>
    <button
      mat-flat-button
      color="primary"
      *ngIf="banderaEsColocacionModuloHorario"
    >
      <p>
        {{ "ptd.asignar_docente" | translate }}
      </p>
    </button>
  </mat-dialog-actions>
  <br />
</mat-card>
