/* Valor de ancho de la cuadrícula */
$snap-grid-width: 110px;
/* Valor de alto de la cuadrícula */
$snap-grid-height: 90px;

#ubicacion {
  scroll-margin-block: 130px;
  scroll-behavior: smooth;
}

table {
  border-spacing: 0px;
}

/* estilo cuadricula tabla horario - headers */
th,
td {
  width: $snap-grid-width;
  min-width: $snap-grid-width;
  background-color: var(--primary);
  color: white;
  text-align: center;
  border: 1px solid var(--color100);
}

.resumen {
  td {
    height: 45px;
  }
}

th {
  height: 50px;
}

td {
  height: $snap-grid-height;
}

.day {
  color: lightslategray;
}

/* estilo cuadricula tabla horario - cuadricula horario */
.drag-area {
  background-color: white;
  border: 1px solid lightblue;
  color: black;
}

/* elemento que contiene las cards */
.grid-carga-lectiva {
  position: absolute;
  top: 0px;
  left: $snap-grid-width;
  z-index: 1;
  height: 100%;
  width: $snap-grid-width * 7;
}

/* card que contiene la info */
.tarjeta-colocacion {
  width: $snap-grid-width;
  height: $snap-grid-height;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.colocacion-modulo-horario {
  background: lightgoldenrodyellow;
  box-shadow: 0px 0px 20px #ffe574;
  border: dashed 2px #c0a318;
}

/* estilos card dependiendo de la situación */
.carga_lectiva {
  background: lightgoldenrodyellow;
}

.actividades {
  background: lightcyan;
}

.flotando {
  background: lavender !important;
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

  .info-tooltip {
    visibility: visible;
  }
}

.tarjeta-colocacion:not(:active):hover {
  /* height: $snap-grid-height * 2 !important;
  background-color: rgba($color: lightskyblue, $alpha: 0.75);
  transition-delay: 0.5s;
  z-index: 49;
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12); */
  z-index: 49;
}

.tarjeta-colocacion:not(:active):hover .info-tooltip {
  visibility: visible;
}

.tarjeta-colocacion:not(:active):hover .info-contenidoBig {
  transition-delay: 0.5s;
  visibility: visible;
}

/* estilo cuando la card es arrastrada */
.tarjeta-colocacion:active {
  z-index: 50;
  background: var(--color200);
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* estilo para iconos de opciones */
.contenedor-opciones {
  width: 100%;
  height: 1rem;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.left-top {
  cursor: pointer;
  font-size: 1.25rem;
}

.center-top {
  cursor: move;
  font-size: 1rem;
}

.right-top {
  cursor: pointer;
  font-size: 1.25rem;
}

.contenido {
  font-size: 0.85rem;
  font-weight: 300;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  line-height: 1;
  padding: 3px;
}

/* estilo tooltip para opciones */
.info-tooltip {
  font-size: 0.85rem;
  position: absolute;
  left: -5%;
  top: -2.5rem;
  width: 110%;
  padding: 3px;
  background-color: rgba(135, 206, 250, 0.75);
  display: flex;
  align-content: center;
  justify-content: space-between;
  color: black;
  border-radius: 3px;
  visibility: hidden;
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.2);
}

i {
  width: 35px;
}

.botones {
  // width: 80px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.campos {
  width: 100%;
  padding: 0rem 1rem;
}

.espacio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-contenidoBig {
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  left: -50%;
  top: 1.5rem;
  width: 200%;
  height: 130px;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  overflow-y: auto;
  border-radius: 3px;
  visibility: hidden;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.element-ocupado-espacio-academico {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  width: $snap-grid-width;
  height: $snap-grid-height;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.element-ocupado-grupo-estudio {
  background-color: #b3d1dd;
  width: $snap-grid-width;
  height: $snap-grid-height;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(#b3d1dd, 0.4);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border: solid 2px #b3d1dd;
}

.icono-lock {
  color: #8f032e;
}

.icono-grupo-estudio {
  color: #013960;
}

.icono-grupo-estudio-x {
  color: #013960;
  width: 30px;
  height: 30px;
  font-size: 30px;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  padding-bottom: 1.5px; /* Número de líneas a mostrar */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.icono-carta {
  color: #013960;
}

.carta-flotante {
  position: fixed;
  bottom: 20px; /* Ubica el bloque 20px desde la parte inferior de la pantalla */
  left: 50%; /* Lo coloca en el 50% de la pantalla horizontalmente */
  transform: translateX(
    -50%
  ); /* Lo desplaza hacia la izquierda para que quede centrado */
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  animation: floating 3s ease-in-out infinite;
  z-index: 1000;
}

.card {
  background: #fff;
  border-radius: 8px;
  border: 0.5px solid #03668e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.1s ease-in-out;
  height: 100%;
  width: auto;
  padding: 10px;
}
