<!-- Selector de carga o actividad segun rol -->
<div class="margin-y" *ngIf="(isCoordinador || isDocente) && puedeEditarPTD">
  <h3 class="margin-y" *ngIf="isCoordinador">
    {{ "ptd.select_carga_lectiva" | translate }}
  </h3>
  <h3 class="margin-y" *ngIf="isDocente">
    {{ "ptd.select_actividades" | translate }}
  </h3>
  <div class="form-grid2">
    <mat-form-field class="form-col1 form-field">
      <mat-label>{{ "ptd.tipo_vinculo_docente" | translate }}:</mat-label>
      <mat-select
        [(ngModel)]="vinculacionSelected"
        (selectionChange)="selectVinculacion($event)"
      >
        <mat-option>--{{ "GLOBAL.seleccionar" | translate }}--</mat-option>
        <mat-option *ngFor="let item of vinculaciones" [value]="item">
          {{ item.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-col1 form-field" *ngIf="isCoordinador">
      <mat-label>{{ "ptd.select_asignatura" | translate }}:</mat-label>
      <mat-select
        [(ngModel)]="asignaturaSelected"
        (selectionChange)="
          verificarSiEspacioTieneColocacionEnModuloHorario($event)
        "
      >
        <mat-option>--{{ "GLOBAL.seleccionar" | translate }}--</mat-option>
        <mat-option *ngFor="let item of asignaturas" [value]="item">
          {{ item.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-col1 form-field" *ngIf="isDocente">
      <mat-label>{{ "ptd.select_actividad" | translate }}:</mat-label>
      <mat-select [(ngModel)]="actividadSelected">
        <mat-option>--{{ "GLOBAL.seleccionar" | translate }}--</mat-option>
        <mat-option *ngFor="let item of actividades" [value]="item">
          {{ item.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button
    mat-flat-button
    class="form-field"
    color="accent"
    [disabled]="
      !vinculacionSelected ||
      (!asignaturaSelected && !actividadSelected) ||
      !edit
    "
    (click)="formularioEspacioFisico()"
  >
    {{ "GLOBAL.seleccionar" | translate }}
  </button>
</div>

<!-- EDITAR  -->
<ng-container *ngIf="puedeEditarPTD">
  <div [hidden]="!ubicacionActive">
    <h4 class="margin-y">{{ "ptd.espacio_fisico" | translate }}</h4>
    <form
      novalidate
      [formGroup]="ubicacionForm"
      #fform="ngForm"
      class="form-horizontal"
    >
      <div class="form-grid4">
        <mat-form-field class="form-col1 form-field">
          <mat-label>*{{ "ptd.sede" | translate }}:</mat-label>
          <mat-select
            formControlName="sede"
            [(ngModel)]="sede"
            (selectionChange)="cambioSede()"
          >
            <mat-option>--{{ "GLOBAL.seleccionar" | translate }}--</mat-option>
            <mat-option *ngFor="let item of opcionesSedes" [value]="item">
              {{ item.Nombre }}
            </mat-option>
          </mat-select>
          <!-- <mat-error
                                *ngIf="preasignacionForm.get('sede').hasError('required') && preasignacionForm.get('sede').touched">
                                {{ 'ptd.error_tipo_vinculacion' | translate }}
                            </mat-error> -->
        </mat-form-field>

        <mat-form-field class="form-col1 form-field">
          <mat-label>*{{ "ptd.edificio" | translate }}:</mat-label>
          <mat-select
            formControlName="edificio"
            [(ngModel)]="edificio"
            (selectionChange)="cambioEdificio()"
          >
            <mat-option>--{{ "GLOBAL.seleccionar" | translate }}--</mat-option>
            <mat-option *ngFor="let item of opcionesEdificios" [value]="item">
              {{ item.Nombre }}
            </mat-option>
          </mat-select>
          <!-- <mat-error
                                *ngIf="preasignacionForm.get('edificio').hasError('required') && preasignacionForm.get('edificio').touched">
                                {{ 'ptd.error_periodo' | translate }}
                            </mat-error> -->
        </mat-form-field>

        <mat-form-field class="form-col1 form-field">
          <mat-label>*{{ "ptd.salon" | translate }}:</mat-label>
          <input
            matInput
            type="text"
            formControlName="salon"
            [matAutocomplete]="auto"
            (keyup)="
              searchTerm$.next({
                text: event2text($event),
                field: fform.directives[3]
              })
            "
          />
          <mat-autocomplete
            autoActiveFirstOption
            #auto="matAutocomplete"
            (optionSelected)="cambioSalon($event)"
          >
            <mat-option
              *ngFor="let option of opcionesSalonesFiltrados"
              [value]="option"
            >
              {{ option.Nombre }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="form-col1 form-field">
          <mat-label>*{{ "ptd.horas" | translate }}:</mat-label>
          <input
            matInput
            id="horas"
            formControlName="horas"
            type="number"
            step="0.25"
            min="0.5"
            max="17"
            pattern="[0-9]+(\.[0-9]+)?"
          />
        </mat-form-field>
      </div>
      <div>
        <div>
          <mat-checkbox
            type="checkbox"
            class="form-field"
            color="primary"
            [checked]="manageByTime"
            (change)="habilitarSelectFechas()"
            ><!-- [(checked)]="manageByTime" -->
            {{ "ptd.tiempo_inferior_periodo" | translate }}
          </mat-checkbox>

          <ng-container *ngIf="manageByTime">
            <div class="form-grid2">
              <mat-form-field floatLabel="always" class="form-col1 form-field">
                <mat-label> {{ "GLOBAL.fecha_inicio" | translate }}:</mat-label>
                <input
                  matInput
                  formControlName="fecha_ini"
                  [matDatepicker]="picker1"
                  [placeholder]="'GLOBAL.placeholder_fecha_inicio' | translate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker1"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>

              <mat-form-field floatLabel="always" class="form-col1 form-field">
                <mat-label> {{ "GLOBAL.fecha_fin" | translate }}:</mat-label
                ><!-- [min]="picker1.datepickerInput" -->
                <input
                  matInput
                  formControlName="fecha_fin"
                  [matDatepicker]="picker2"
                  [placeholder]="'GLOBAL.placeholder_fecha_fin' | translate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker2"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </ng-container>
        </div>

        <div class="form-grid2">
          <button
            class="form-col1 form-field"
            (click)="addCarga()"
            [disabled]="ubicacionForm.invalid"
            mat-flat-button
            color="accent"
            type="button"
          >
            {{ "GLOBAL.agregar" | translate }}
          </button>
          <button
            class="form-col1 form-field"
            (click)="cancelarUbicacion()"
            mat-flat-button
            type="button"
          >
            {{ "GLOBAL.cancelar" | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-container>
<!-- El gráfico del horario en cuestión -->
<div class="margin-y">
  <h3 *ngIf="!edit">
    {{ "ptd.plan_trabajo" | translate }}
  </h3>
  <h3 *ngIf="isCoordinador && edit">
    {{ "ptd.insert_carga_lectiva" | translate }}
  </h3>
  <h3 *ngIf="isDocente && edit">
    {{ "ptd.insert_actividad" | translate }}
  </h3>

  <div class="alert info class mt-3" *ngIf="edit">
    <mat-icon class="icon">info</mat-icon>
    <span>{{ "ptd.mensaje_horario" | translate }}</span>
  </div>
  <div class="row center-h mb-3" *ngIf="edit">
    <div class="col-4 card">
      <b class="center-h mb-2">{{ "ptd.convenciones" | translate }}</b>
      <p class="center-v">
        <mat-icon color="primary" class="mr-2">how_to_reg</mat-icon
        >{{ "ptd.docente_asignado" | translate }}
      </p>
      <p class="center-v">
        <mat-icon class="icono-lock mr-2">lock</mat-icon
        >{{ "ptd.espacios_fisicos_ocupados" | translate }}
      </p>
    </div>
  </div>
  <div style="overflow-x: auto">
    <div
      class="row"
      style="display: flex; align-items: center; margin: auto"
      [style.padding-left.px]="snapGridSize.x * 1.5"
      [style.padding-right.px]="snapGridSize.x * 1.5"
    >
      <table style="margin: auto">
        <thead>
          <tr>
            <th></th>
            <th>{{ "ptd.lu" | translate }}</th>
            <th>{{ "ptd.ma" | translate }}</th>
            <th>{{ "ptd.mi" | translate }}</th>
            <th>{{ "ptd.ju" | translate }}</th>
            <th>{{ "ptd.vi" | translate }}</th>
            <th>{{ "ptd.sa" | translate }}</th>
            <th>{{ "ptd.do" | translate }}</th>
          </tr>
        </thead>
        <tbody style="position: relative">
          <tr *ngFor="let hour of genHoursforTable()">
            <td>{{ hour }}:00 - {{ hour + 1 }}:00</td>
            <td class="drag-area" *ngIf="hour == horarioSize.hourIni">
              <div class="day">{{ "ptd.lu" | translate }}</div>
              <div class="grid-carga-lectiva" #contenedorCargaLectiva>
                <div
                  class="element-carga-lectiva"
                  *ngFor="let element of listaCargaLectiva"
                  style="position: absolute"
                  [style.height.px]="element.horas * snapGridSize.y"
                  [ngClass]="{
                    carga_lectiva: element.tipo == tipo.carga_lectiva,
                    actividades: element.tipo == tipo.actividades,
                    flotando: element.estado == estado.flotando,
                    ocupado: element.estado == estado.ocupado
                  }"
                  cdkDrag
                  [cdkDragFreeDragPosition]="element.dragPosition"
                  [cdkDragDisabled]="element.bloqueado"
                  cdkDragBoundary=".grid-carga-lectiva"
                  (cdkDragStarted)="onDragStarted(element)"
                  (cdkDragMoved)="onDragMoved($event, element)"
                  (cdkDragReleased)="onDragReleased($event, element)"
                >
                  <div class="info-tooltip" *ngIf="!element.bloqueado">
                    <i>{{ "ptd.editar" | translate }}</i>
                    <i>{{ "ptd.mover" | translate }}</i>
                    <i>{{ "ptd.borrar" | translate }}</i>
                  </div>
                  <div class="contenedor-opciones" *ngIf="!element.bloqueado">
                    <label
                      class="left-top"
                      title="{{ 'ptd.editar' | translate }}"
                      (click)="editElement(element)"
                    >
                      <mat-icon class="icono-carta" fontIcon="edit"></mat-icon>
                    </label>
                    <label
                      cdkDragHandle
                      class="center-top"
                      title="{{ 'ptd.mover' | translate }}"
                    >
                      <mat-icon class="icono-carta" fontIcon="apps"></mat-icon>
                    </label>
                    <label
                      class="right-top"
                      title="{{ 'ptd.borrar' | translate }}"
                      (click)="deleteElement($event.target, element)"
                    >
                      <mat-icon
                        class="icono-carta"
                        fontIcon="delete"
                      ></mat-icon>
                    </label>
                  </div>
                  <div class="contenido">
                    <div class="row">
                      <div class="col-12 mt-4">
                        <b
                          class="truncate"
                          (click)="abrirDialogoVerDetalleEspacio(element)"
                          >{{ element.nombre }}
                        </b>
                      </div>
                      <div class="col-12 mt-2">
                        {{ element.horaFormato }}
                        <label class="center-h mt-2">
                          <mat-icon *ngIf="element.docenteName"
                            >assignment_ind</mat-icon
                          >
                          <mat-icon *ngIf="!element.docenteName"></mat-icon>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="element-ocupado"
                  *ngFor="let element of listaEspaciosFisicosOcupados"
                  style="position: absolute"
                  [style.height.px]="element.horas * snapGridSize.y"
                  cdkDrag
                  [cdkDragFreeDragPosition]="element.dragPosition"
                  [cdkDragDisabled]="element.bloqueado"
                  cdkDragBoundary=".grid-carga-lectiva"
                  [cdkDragDisabled]="true"
                >
                  <div class="center">
                    <mat-icon class="icono-lock">lock</mat-icon>
                  </div>
                </div>
              </div>
            </td>
            <td class="drag-area" *ngIf="hour != horarioSize.hourIni">
              <div class="day">{{ "ptd.lu" | translate }}</div>
            </td>
            <td class="drag-area">
              <div class="day">{{ "ptd.ma" | translate }}</div>
            </td>
            <td class="drag-area">
              <div class="day">{{ "ptd.mi" | translate }}</div>
            </td>
            <td class="drag-area">
              <div class="day">{{ "ptd.ju" | translate }}</div>
            </td>
            <td class="drag-area">
              <div class="day">{{ "ptd.vi" | translate }}</div>
            </td>
            <td class="drag-area">
              <div class="day">{{ "ptd.sa" | translate }}</div>
            </td>
            <td class="drag-area">
              <div class="day">{{ "ptd.do" | translate }}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Resumen del horario -->
<div class="margin-y">
  <h4>{{ "GLOBAL.resumen" | translate }}</h4>
  <div class="margin-y" style="display: flex; align-items: center">
    <table class="resumen" style="width: 100%; margin: auto">
      <thead>
        <tr>
          <th></th>
          <th>{{ "GLOBAL.tipo_vinculacion" | translate }}</th>
          <th>{{ "ptd.total_horas" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ "ptd.carga_lectiva" | translate }}</td>
          <td class="drag-area">
            {{ vinculacionSelected ? vinculacionSelected.nombre : "" }}
          </td>
          <td class="drag-area">{{ calcularHoras(tipo.carga_lectiva) }}</td>
        </tr>
        <tr>
          <td>{{ "ptd.actividades" | translate }}</td>
          <td class="drag-area">
            {{ vinculacionSelected ? vinculacionSelected.nombre : "" }}
          </td>
          <td class="drag-area">{{ calcularHoras(tipo.actividades) }}</td>
        </tr>
        <tr>
          <td colspan="2">{{ "ptd.total" | translate }}</td>
          <td class="drag-area">{{ calcularHoras() }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h4 class="margin-y">
    {{ "GLOBAL.observaciones" | translate }}
  </h4>
  <mat-form-field class="form-field">
    <mat-label>{{ "GLOBAL.observaciones" | translate }}:</mat-label>
    <textarea
      [(ngModel)]="observacion"
      matInput
      [disabled]="!puedeEditarPTD"
    ></textarea>
  </mat-form-field>
  <ng-container *ngIf="Data.aprobacion" class="margin-y">
    <h4>
      {{ "ptd.aprobacion_plan_coordinacion" | translate }}
    </h4>
    <mat-form-field class="form-field">
      <mat-label
        >* {{ "ptd.aprobacion_plan_coordinacion" | translate }}:</mat-label
      >
      <mat-select [(ngModel)]="aprobacion">
        <mat-option>--{{ "GLOBAL.seleccionar" | translate }}--</mat-option>
        <mat-option *ngFor="let item of Data.aprobacion" [value]="item">
          {{ item.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
  <div *ngIf="puedeEditarPTD" style="display: flex; justify-content: center">
    <button
      mat-flat-button
      color="accent"
      (click)="guardar_ptd()"
      [disabled]="Data.aprobacion && !aprobacion"
    >
      <mat-icon>save</mat-icon>
      {{ "ptd.guardar_ptd" | translate }}
    </button>
  </div>

  <br />
  <mat-divider></mat-divider>
  <br />
</div>

<div class="carta-flotante" *ngIf="banderaInfoNoSoltarTarjeta">
  <h3>{{ "GLOBAL.atencion" | translate }}</h3>
  <p>{{ "ptd.no_suelte_tarjeta_hasta_restricciones" | translate }}</p>
</div>
