//HOVER SOBRE LAS FILAS
.mat-mdc-row:hover .mat-mdc-cell {
  background-color: var(--color100);
}

/* Estilos para el indicador de estado */
.badge {
    margin: 0.4em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
}
