//HOVER SOBRE LAS FILAS
.mat-mdc-row:hover .mat-mdc-cell {
  background-color: var(--color100);
}

/* Estilos para el indicador de estado */
.badge {
    margin: 0.4em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
}

.semaforo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.semaforo-icon {
  transition: transform 0.2s ease-in-out;
}

.semaforo-icon:hover {
  transform: scale(1.1);
}
